<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>League store 77</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        input[type="password"],
        input[type="email"],
        input[type="text"] {
            width: 75%;
        }
        
        .wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            min-height: 100%;
            padding: 10px;
        }
        
        #formContent {
            -webkit-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
            background: #fff;
            padding: 30px;
            width: 90%;
            max-width: 500px;
            position: relative;
            padding: 0px;
            -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
            text-align: center;
        }
        
        input[type=text],
        input[type=password],
        input[type=email] {
            background-color: #f6f6f6;
            border: none;
            color: #0d0d0d;
            padding: 15px 32px;
            text-align: left;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 1px;
            width: 85%;
            border: 2px solid #f6f6f6;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2 style="margin-left: 35%;"> User management</h2>
    </div>

    <div class="wrapper">
        <div class="formContent">
            <form method="POST" action="/adduser">
                <div class="form-group">
                    <label for="editUserId"> User ID </label><br>
                    <input type="text" name="userId" class="form-control" id="editUserId" placeholder="Id"><br>
                </div>

                <div class="form-group">
                    <label for="editUserName">User Name</label><br>
                    <input type="text" name="name" class="form-control" id="editUserName" placeholder="Tên tài khoản"><br>
                </div>

                <div class="form-group">
                    <label for="editUserPassword">Password</label><br>
                    <input type="text" id="editUserPassword" name="password" class="form-control" placeholder="Mật khẩu"><br>
                </div>

                <div class="form-group">
                    <label for="editUserAddress">Address</label><br>
                    <input type="text" name="addr" class="form-control" id="editUserAddress" placeholder="Địa chỉ"><br>
                </div>

                <div class="form-group">
                    <label for="editUserEmail">Mail</label><br>
                    <input type="email" name="email" class="form-control" id="editUserEmail" placeholder="Thư điện tử"><br>
                </div>

                <div class="form-group">
                    <label for="editUserPhone">Phone number</label><br>
                    <input type="text" name="phone" class="form-control" id="editUserPhone" placeholder="Điện thoại"><br>
                </div>

                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</body>

</html>