<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>League store 77</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>

    </style>
</head>

<body>
    <h1 style="text-align: center;">Location</h1>

    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4675.809302759749!2d105.76700544992087!3d21.033413609895227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b91d1d5e75%3A0x2b706ee46fab3821!2sHD%20Mon%20City!5e0!3m2!1svi!2s!4v1636988215300!5m2!1svi!2s"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" id="map"></iframe>
    </div>
    <h1 style="text-align: center;">About us</h1>
    <div class="container">
        <!--three js representation-->
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="/icon/facebook.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">FACEBOOK</h5>
                        <p class="card-text">Contact with us via Facebook</p>
                        <a href="https://www.facebook.com/LeagueStore77" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="/icon/instagram.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">INSTAGRAM</h5>
                        <p class="card-text">Contact with us via Instagram</p>
                        <a href="https://www.facebook.com/LeagueStore77" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>