<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">LEAGUE STORE 77</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Trang chủ</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sản phẩm<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Quần áo</a></li>
                    <li><a href="#">Quần áo thể thao</a></li>
                    <li><a href="#">Phụ kiện</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Bộ sưu tập<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Hè</a></li>
                    <li><a href="#">Thu đông</a></li>
                    <li><a href="#">Phụ kiện</a></li>
                </ul>
            </li>

            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Câu lạc bộ<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Manchester United</a></li>
                    <li><a href="#">Manchester City</a></li>
                    <li><a href="#">Chelsea</a></li>
                    <li><a href="#">Liverpool</a></li>
                    <li><a href="#">West Ham</a></li>
                    <li><a href="#">Arsenal</a></li>
                    <li><a href="#">Wolves</a></li>
                    <li><a href="#">Brighton</a></li>
                    <li><a href="#">Crystal Palace</a></li>
                    <li><a href="#">Tottenham</a></li>
                    <li><a href="#">Everton</a></li>
                    <li><a href="#">Leicester</a></li>
                    <li><a href="#">Southampton</a></li>
                    <li><a href="#">Brentford</a></li>
                    <li><a href="#">Aston Villa</a></li>
                    <li><a href="#">Watford</a></li>
                    <li><a href="#">Leeds</a></li>
                    <li><a href="#">Burnley</a></li>
                    <li><a href="#">Norwich</a></li>
                    <li><a href="#">Newcastle</a></li>
                </ul>
            </li>

            <li><a href="contact">Liên hệ</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="signup"><span class="glyphicon glyphicon-user"></span> Đăng ký</a></li>
            <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Đăng nhập</a></li>
        </ul>
    </div>
</nav>