<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-image: url('/icon/error-404.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>

<body>
    <a href="home">Click here to back HOME page</a>
</body>

</html>