<form action="/reset" method="POST">
    <div class="container">
        <h1>Tạo lại mật khẩu mới</h1>
        <input type="text" name="editEmail"></input>
        <button type="submit" , class="btn btn-teal btn-rounded btn-sm m-0">Send email</button>
    </div>
</form>