<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<form action="/reset" method="POST">
    <div>
        <h1>RESET YOUR PASSWORD</h1>
        <input type="text" name="editEmail"></input>
        <button type="submit" , class="btn btn-teal btn-rounded btn-sm m-0">Send email</button>
    </div>
</form>