<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<style>
		#topbar {background: #7F7F7F ;font-size: 12px; color: #FFFF}
        #topbar p {padding: 4px 0;margin-bottom:0;}
        .topbar-hotline a.phone-num { display: inline-block;}
        .topbar-hotline {text-align: right;margin: 3.5px 0 0;}
        .topbar-hotline span.text-phone{color:#FFFF;font-weight:bold;letter-spacing:0.4px;}
        .topbar-hotline span.circle-phone{
            display: inline-block;border-radius: 50%;
            -webkit-animation: ripple 1.0s linear infinite;
            animation: ripple 1.0s linear infinite;
        }
        .topbar-hotline a.phone-num .fa {
            width: 35px;
            height: 35px;
            line-height: 35px;
            border-color:#e00000;
            color:#e00000;
            font-size: 16px;	 
            margin: 0;	
        }
        .topbar-hotline a.phone-num .fa {
            width: 22px;
            height: 22px;
            line-height: 22px;
            border: 1px solid #FFFF;
            color: #FFFF;
            border-radius: 50%;
            text-align: center;
            animation: 1s ease-in-out 0s normal none infinite running h-alo-ring-ring;
            font-size: 10px;
            display: inline-block;
            vertical-align: middle;margin-right:5px;
        }
	</style>
</head>
<body>
	<div id="topbar">
        <div class="container-fluid" style="margin-left: 20px;">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 topbar-content">
                    <p>
                        <strong> Miễn phí </strong>
                        giao hàng toàn quốc với đơn hàng
                        <strong> trên 500k </strong>
                    </p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 topbar-hotline">
                    <a class="phone-num" href="tel:0123456789"></a>
                    <span class="circle-phone">
                        <i class="fa fa-phone"></i>
                    </span>
                    <span class="text-phone">Hot line: 0123456789</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>