<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>League store 77</title>
    <link rel="icon" href="/assets/logoweb.jpg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>

    </style>
</head>

<body>
    <div class="container">
        <h1>Upload banner images</h1>
        <form action="/uploadbanner" method="POST" enctype="multipart/form-data" id="upload_form">
            <!--hidden form to upload data-->
            <label for="folder">Select folder</label>
            <input type='file' multiple='multiple' accept='image/*' name='bn' id='file' />
            <h2>Selected Files</h2>
            <ul>
            </ul>
            <input type="submit" class="btn btn-primary" value="Upload banner"></input>
        </form>
    </div>
    <script>
        var data;
        $('upload_form').addEventListener('submit', async function(e) {
            const files = e.target['bn'].files;
            if (files.length != 0) {
                for (const single_file of files) {
                    data.append('bn', single_file)
                }
            }
        });

        const submit_data_fetch = await fetch('/uploadbanner', {
            method: 'POST',
            body: data
        });
    </script>
</body>

</html>