<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>League store 77</title>
    <link rel="icon" href="/assets/logoweb.jpg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
      #topbar-down {background: #faf4f4 ;font-size: 14px; color: rgb(221, 207, 207)}
      #topbar-down p {padding: 4px 0;margin-bottom:0;}

      footer {
        text-align: center;
        padding: 3px;
        background-color: #111;
        color: white;
        bottom: 0rem;
        position: relative;
        width: 100%;
        opacity: calc();
      }
    </style>

  </head>
  <body>
    <%- include('topbody'); %>
    <%- include('header'); %>
    <div id="topbar-down">
        <div class="container-fluid" style="margin-left: 20px;">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 topbar-content">
                  <p>
                    <a href="/">Trang chủ</a> / Chính sách đổi trả
                  </p>
                </div>
            </div>
        </div>
    </div>
    <h3 style="text-align: center;">CHÍNH SÁCH ĐỔI TRẢ VÀ BẢO HÀNH</h3>
    <div class="container">
      <p>
        Nhằm mang lại các dịch vụ hậu mãi tốt hơn cho khách hàng mua sắm tại hệ thống <strong>LEAGUE STORE</strong> sẽ có chính sách <strong>ĐỔI HÀNG & BẢO HÀNH</strong> được áp dụng như sau: <br>

  <strong>1/ CHÍNH SÁCH ĐỔI HÀNG:</strong> <br>

          • Áp dụng 01 lần đổi / 01 đơn hàng.<br>

          •  Không áp dụng đổi đối với phụ kiện đá bóng.<br>

          • Sản phẩm đổi phải nằm trong thời hạn bảy (07) ngày kể từ ngày mua (đối với khách mua tại STORE) hoặc kể từ ngày nhận được hàng (đốI với khách mua ONLINE).<br>

          • Sản phẩm đổi phải còn nguyên tem, tags & hoá đơn mua hàng. Sản phẩm không bị dơ bẩn, hư hỏng bởi những tác nhân bên ngoài cửa hàng sau khi mua hàng.<br>

          • Có thể đổi sang sản phẩm bất kỳ , nếu có sự chênh lệch về giá <strong>LEAGUE STORE</strong> sẽ tính bù trừ.<br>

          • Có thể đổi từ 01 sản phẩm sang nhiều sản phẩm.<br>

          • Sản Phẩm mua trong <strong>CTKM</strong> quý khách vui lòng đổi trong <strong>CTKM</strong> để được áp dụng ưu đãi, khi kết thúc <strong>CTKM</strong> sẽ áp dụng trên giá đang được niêm yết ( Không hỗ trợ đổi hàng đối với sản phẩm giảm giá từ 30% trở lên khi mua tại Cửa Hàng ).<br>


  <strong>2/ CHÍNH SÁCH ĐỔI DO LỖI KỸ THUẬT VÀ HOÀN TIỀN: </strong><br>

          Điều kiện áp dụng:<br>

          • Sản phẩm lỗi kỹ thuật như: Ố màu, phai màu, chất liệu, kiểu dáng, bung keo,…<br>

          • Sản phẩm không giống mô tả hoặc không giống hình.<br>

          <strong>Trường hợp <strong>KHÔNG</strong> được giải quyết:</strong><br>
          • Giặt tẩy sản phẩm không đúng theo quy cách. <br>

          • Sản phẩm bị ảnh hưởng bởi tác dụng của hoá chất ảnh hưởng đến màu sắc, form dáng, hình dạng. <br>

          • Sản phẩm bị rách, trầy xước, bị biến dạng do tiếp xúc với nhiệt độ cao hoặc bị ẩm ướt lâu ngày và liên tục, bị tác động bởi vật cứng, sắc nhọn, hoặc sản phẩm bị thú vật cắn. <br>

          • Sản phẩm bị tác động bởi tai nạn, thiên tai,…<br>

  <strong>3/ CHI PHÍ ĐỔI HÀNG: </strong><br>

          • Miễn phí đổi hàng cho khách mua sắm tại LEAGUE STORE trong trường hợp bị lỗi do nhà sản xuất, giao nhầm hàng, hư hỏng trong quá trình vận chuyển. <br>

          • Trong trường hợp khác, như không vừa size, không thích màu, mẫu,…khách hàng sẽ chịu chi phí vận chuyển chỉ với 30.000VNĐ, và Shop sẽ giao lại hàng miễn phí cho Khách hàng. <br>
  
                              *** Trong mọi trường hợp, quyết định của Shop là quyết định cuối cùng. <br>
                              Xin chân thành cảm ơn và hân hạnh được phục vụ Quý Khách!” <br>
  
      </p>
  </div>
    <footer>
      <%- include('footer'); %>
    </footer>
  </body>
</html>